*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.todo-list-elem {
    display: flex;
    flex-direction: column;
}

.main_todo_div{
    display: flex;
    justify-content: space-between;
}