@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.portfolio-container {
    min-height: 100vh;
    width: 100%;
    display: flex;
}

.nav-list {
    display: flex;
    gap: 3.5rem;
    height: 20vh;
    width: 100%;
    justify-content: center; /*horizontal*/
    align-items: center;
    position: fixed;
}

.nav-list li {
    list-style: none;
}

.nav-list li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    position: relative;
}

.nav-list li a::after, .nav-list .active::after{
    content: "";
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: .1rem;
    left: 0;
    bottom: -5px;
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform .5s;
    -webkit-transition: transform .5s;
    -moz-transition: transform .5s;
    -ms-transition: transform .5s;
    -o-transition: transform .5s;
}

.nav-list li a:hover::after, .nav-list .active::after {
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform-origin: bottom left;
}

.left-container, .right-container {
    height: 100vh;
    display: flex;
    align-items: center;
}

.left-container {
    background-color: #262525;
    width: 70%;
    padding-left: 2.5rem;
}

.right-container {
    background: linear-gradient(-45deg, #3877ff, #262525 70%);
    width: 30%;
}

.icons .fa-brands {
    color: #bbb;
    font-size: 1.5rem;
    cursor: pointer;
}

.icons .fa-brands:hover {
    background: linear-gradient(#fff, #3877ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

.content {
    margin-left: 3rem;
}

.intro {
    font-size: 1.2rem;
    color: #fff;
    font-weight: 500;
}

.content .intro span {
    color: #5db9ee;
}

.content h1 {
    font-size: 2.9rem;
    color: #5db9ee;
}

.details {
    font-size: 1rem;
    color: #fff;
    max-width: 32rem;
    margin: 0.8rem 0 2rem 0;
    line-height: 1.8rem;
}

.btn-container button {
    border: 0.1rem solid #5db9ee;
    font-size: 1rem;
    padding: .6rem 1.5rem;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
}

button:nth-child(1) {
    background-color: #5db9ee;
    color: #262525;
}

button:nth-child(2) {
    background-color: transparent;
    color: #5db9ee;
    margin-left: 2rem;
}

button:nth-child(1):hover {
    background-color: transparent;
    color: #5db9ee;
}

button:nth-child(2):hover {
    background-color: #5db9ee;
    color: #262525;
}

.design .circle {
    aspect-ratio: 1;
    position: absolute;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.circle:nth-child(1) {
    background: linear-gradient(90deg, transparent 50%, #262525 50%);
    width: 28rem;
}

.circle:nth-child(2) {
    width: 22rem;
    background-image: url("./images/profile.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    border: 0.5rem solid white;
    box-shadow: 
    0 0 1rem #fff, 
    inset 0 0 1rem #fff,
    0 0 2rem #3877ff,
    inset 0 0 2rem #3877ff,
    0 0 4rem #3877ff,
    inset 0 0 4rem #3877ff;
}