body{
    width: 100%;
    height: 100vh;
    background-color: hsl(0, 0, 94%);
    background-image: url('./GH4.jpeg'),url('./GH3.jpeg');
    background-repeat: no-repeat;
    /* background-size: 100% 100%; */
    /* background-position: top right; */
    background-blend-mode: lighten;
}